In [1]:
pwd

'C:\\Users\\SIVA REDDY\\Downloads'

In [101]:
#count no. of digits in the given string
#input"python123
#output:9
s = input()
i=0
count = 0
sum=0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sum of digits is:",sum)

334ergdf
count is: 3 sum of digits is: 10

In [13]:
#for loop
#1.using range()
#2.using iterable object
n = int(input("enter a number"))
for i in range(1,n+1):
    print(i,end=" ")

enter a number12
1 2 3 4 5 6 7 8 9 10 11 12

In [14]:
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1

python
p y t h o n

In [ ]:
##collection type data types
list:
1

In [18]:
list1=[23,24,456,56,67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56]
gnirts
3

#manipulating a list
#1.adding elements
list1=[34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

In [105]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [106]:
#removing elements from the list
list1.pop(-1)
list1.remove(45)
print(list1)

[34, 400, 56, 67, 100, 200]

In [ ]:
# replace an element
list1[1]=1000
list1

In [103]:
#sorting a list
list1 = [34,1000]
list1.sort()
print(list1)

[34, 1000]

In [108]:
#reversing a list
list1=[34,56,67,76,100,1000]
list1.reverse()
list1

[1000, 100, 76, 67, 56, 34]

In [109]:
list1.count(100)

1

In [110]:
list1.append("python")
list2=list1
print(list1," ",list2)

[1000, 100, 76, 67, 56, 34, 'python']   [1000, 100, 76, 67, 56, 34, 'python']

In [116]:
list3=list1.copy()
list3

[1000, 100, 76, 67, 56, 34, 'python']

In [119]:
l1=[1,2,3]
l2=l1
print(l2)

[1, 2, 3]

In [120]:
l1=[1,2,3]
l3=l1
print(l3)

[1, 2, 3]

In [121]:
print(l1,l2,l3)
l1.append(100)
print(l1,l2,l3)

[1, 2, 3] [1, 2, 3] [1, 2, 3]
[1, 2, 3, 100] [1, 2, 3] [1, 2, 3, 100]

#squares of elements of previous list
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l1=[2,4,5,7,8]
l2=[]
l3=[]
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)

In [127]:
l4=[]
for i in l1:
    if i%2==0:
        l4.append(1)
print(l4)

[1, 1]

#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
list1=[]
n=int(input())
for i in range(n):
    list1.append(int(input()))
a=sum(list1)
print(a)

In [130]:
sum

10

In [131]:
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [132]:
tup1=(23,34,5)
x,y,z=tup1
print(x,y,z)

23 34 5

### Dictionary
### syntax:(key1:value1,key2,value2.....)
### key
1. key should for unique
2. key should be imutable-->int,float,string,tuple

In [135]:
dict1 = {"name":"siva","course":"python","address":"hyd"}
dict1["course"]

'python'

In [136]:
#replace values
dict1["course"] = "c programming"
print(dict1)

{'name': 'siva', 'course': 'c programming', 'address': 'hyd'}

In [137]:
#adding entry
dict1["college"] = "GITAM"
print(dict1)

{'name': 'siva', 'course': 'c programming', 'address': 'hyd', 'college': 'GITAM'}

In [ ]:
#removing entry
del dict1["address"]
print(dict1)

In [139]:
pwd

'C:\\Users\\SIVA REDDY\\Downloads'